<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center">404 Error. Page not found.
            <img src="https://i.guim.co.uk/img/media/48580a341ca832256e37d91b48f4ed69fb97c71c/0_97_4032_2419/master/4032.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=775ddb4e047faef5da57ea36fb6238a2" class="img-fluid" alt="This page does not exist.">
        </h2>
    </div>
</main>

<%- include('../partials/footer') %>